.button{
	-fx-background-color:  #402B64;
	//-fx-font-size: 18px;
	//-fx-font-style: bold;
	//-fx-border-color: #e2e2e2
	//-fx-border-width: 2;
	//-fx-background-radius: 0;
	//-fx-font-size: 11pt;
    	//-fx-text-fill: #d8d8d8;
    	//-fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button:hover{
	-fx-background-color: #2A1C42;
}
.button:pressed{
	-fx-background-color: #716781;
}
.perfil{
	-fx-text-fill: white;
}
.perfil:hover{
	-fx-font-size: 18px "System";  //tam de letra y tipo
	-fx-font-weight: bold; //Letras en negrita
}
.perfil:pressed{
	-fx-background-color: #6FCCBB;  //color de fondo
	-fx-font-weight: bold;
}
.image-view{
	-fx-opacity: 1;
}
.image-view:hover{
	-fx-opacity: 0.7;
}